.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  margin-left: 0.2em;
  line-height: 1;
  border-radius: 10px;
}
.overlay{
  z-index: 1;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
}
.hidden{
    visibility: hidden;
}
.top{
  margin-top: 10em;
}
#map {
height: 400px;
width: 100%;
}
.panels{
  min-height: 30em;
}